<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetTracApp</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" />

    <!-- Site-wide custom styles (site.css) -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Custom styles for NetTracApp -->
    <link rel="stylesheet" href="~/css/NetTracApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="top-border" style="background-color: #970000; color: #ffff00; height: 65px; border-radius: 8px; margin: 20px auto; padding-left: 20px; display: flex; align-items: center; position: relative; max-width: 95%; width: 1325px;">
        <!-- background text "NetTrac" -->
        <span class="background-text" style="font-size: 50px; font-family: Impact;">NetTrac</span>

        <span id="circle" style="background: black; border-radius: 50%; width: 60px; height: 60px; position: absolute; left: 10px; top: 50%; transform: translateY(-50%);"></span>

        <!-- Centered Text "IT Network Tracker" -->
        <span class="centered-text" style="margin: 0 auto; font-size: 30px; font-family: Impact; color: #ffffff;">IT Network Tracker</span>

        <!-- Home and Login Icons -->
        <span class="icons" style="display: flex; align-items: center; margin-right: 30px;">
            <a href="@Url.Action("Index", "Home")" style="margin-right: 20px; text-decoration: none; color: white;">
                <i class="bi bi-house-door" style="font-size: 2.5rem;"></i>
            </a>
            <a href="@Url.Action("Index", "Login")" style="text-decoration: none; color: white;">
                <i class="bi bi-person" style="font-size: 2.5rem;"></i>
            </a>
        </span>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - NetTracApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
