@{
    ViewData["Title"] = "Login Page";
}


<div class="top-border" style="background-color: #970000; color: #ffff00; height: 80px; border-radius: 8px; margin: 20px auto; padding-left: 20px; display: flex; align-items: center; position: relative; max-width: 100%; width: 1450px;">
    <!-- background text "NetTrac" -->
    <span class="background-text" style="font-size: 70px; font-family: Impact;">NetTrac</span>

    <span id="circle" style="background: black; border-radius: 50%; width: 75px; height: 75px; position: absolute; left: 10px; top: 50%; transform: translateY(-50%);"></span>

    <!-- Centered Text "IT Network Tracker" -->
    <span class="centered-text" style="margin: 0 auto; font-size: 45px; font-family: Impact; color: #ffffff;">Login</span>

    <!-- Home and Login Icons -->
    <span class="icons" style="display: flex; align-items: center; margin-right: 30px;">
       
        <a href="@Url.Action("Index", "Login")" style="text-decoration: none; color: white;">
            <i class="bi bi-person" style="font-size: 2.5rem;"></i>
        </a>
    </span>
</div>


<form method="post" action="/Login/Login" class="login-form">
    <div class="form-group">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required>
    </div>

    <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
    </div>

    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-custom-orange">
    </div>

</form>

@if (ViewBag.Message != null)
{
    <p style="color:red;">@ViewBag.Message</p>
}

